.input-settings-block {
    background: #f7f7f7;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 420px;
    font-family: sans-serif;
}

/* Tabs */
.tabs {
    display: flex;
    margin-bottom: 12px;
    gap: 4px;
}

.tab-button {
    flex: 1;
    padding: 8px 0;
    border: none;
    background: #e1e1e1;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
}

.tab-button.active {
    background: #4287f5;
    color: white;
}

/* Tab content */
.tab-content.active {
    display: block;
}

/* Groups */
.group {
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 12px;
}

/* Layout helpers */
.row {
    display: flex;
    gap: 12px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

/* Inputs */
label {
    font-size: 13px;
    margin-bottom: 4px;
    display: block;
}

input[type="number"],
select {
    padding: 3px 5px;
    font-size: 14px;
    width: 95px;
}

.small-input {
    width: 70px;
}

.settings-block {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.tab-content {
    /*
    display: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;*/
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.tab-content.active {
    display: block;
    max-height: 1000px; /* достаточно большой, чтобы вместить контент */
    opacity: 1;
}
