{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main-block">
        <h1>Error</h1><br>
        <h4>{{ error_message }}</h4>
        <a href="/profile_page">
            <button class="btn btn-primary">Back to Profile</button>
        </a>
    </div>
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(90deg, #ff0000, #ff7b00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            letter-spacing: 0.5px;
            transform: skewX(-2deg);
            margin-bottom: 0.8rem;
        }
    </style>
{% endblock %}