{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div>
        <div class="inline-block">
            <h1>{{ name }} {{ surname }}</h1>
            <h6>{{ username }}</h6>
            <p><i>{{ bio }}</i></p>
        </div>
        <div class="inline-block">
            <button id="logout_button" class="btn btn-danger">Logout</button>
            <button id="settings_button" class="btn btn-primary">Settings</button>
        </div>
        <div><a href="/new_project_page"><button class="btn btn-success">New Project</button></a></div>
    </div>
    <script src="/js/profile.js"></script>
{% endblock %}