{% extends "base.html" %}

{% block title %}{{ project_data.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/styles/editor/editor.css">
<link rel="stylesheet" href="/styles/editor/input_settings.css">

<!-- React / ReactDOM / Babel (для быстрого прототипа) -->
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block content %}
<div class="main-block">
    <h1>{{ project_data.name }}</h1><br>
    <h4>{{ project_data.description }}</h4>
    <a href="http://projects_manager:8003/get_model_file/{{ project_data.id }}" download="model_{{ project_data.id }}.pth">
        <button class="btn btn-primary">Download file</button>
    </a>
    <input type="hidden" id="project-id" value="{{ project_data.id }}">
    <input type="hidden" id="project-json" value="{{ project_data.project_json }}">
    <input type="hidden" id="input-type" value="{{ project_data.input_type }}">
    <input type="hidden" id="output-type" value="{{ project_data.output_type }}">
    <div class="settings-block">
        {% include "editor/input_settings.html" %}
    </div>

    <div class="settings-block">
        {% include "editor/output_settings.html" %}
    </div>

</div>
<div id="layers-block"></div>
<script type="text/babel" src="/js/editor/editor.js"></script>
<script type="text/babel" src="/js/editor/input_settings.js"></script>
{% endblock %}