{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div class="auth-card">
        <h1>Registration Page</h1><br>
        <form action="#" method="post" class="auth-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" required><br><br>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <label for="birth_date">Birthday:</label>
            <input type="date" id="birth_date" name="birth_date" required><br><br>
            
            <button type="submit">Register</button>
        </form><br>
        <p class="lead">Already have an account? <a href="/login_page">Login here</a>.</p>
        <div></div>
    </div>
    <script src="/js/registration.js"></script>
{% endblock %}