name: Docker Compose CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  docker-compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Install Docker Compose
        run: |
          sudo apt install -y apt-transport-https ca-certificates curl software-properties-common tree
          sudo apt update
          sudo apt install -y docker-ce docker-ce-cli containerd.io
          sudo systemctl start docker
          sudo systemctl enable docker
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build containers
        run: docker-compose build

      - name: Start containers
        run: docker-compose up -d

      - name: Wait for services
        run: sleep 15

      - name: Check service on port 8000
        run: |
          curl --fail http://localhost:8000 || exit 1

      - name: Check service on port 8001
        run: |
          curl --fail http://localhost:8001 || exit 1

      - name: Show container logs on failure
        if: failure()
        run: docker-compose logs

      - name: Stop containers
        if: always()
        run: docker-compose down